<% include ../partials/header %>
<main id="body" class="container">
        <div>
                <h2>Edit <%= course.name %> </h2>
                <form action='/admin/courses/<%= course.id %>?_method=PUT' method='POST'>
                    <label for="name">Name</label> <br />
                    <input type="text" name="name" value="<%= course.name %>">
                    <br />
        
                    <label for="code">Code</label> <br />
                    <input type="text" name="code" required="true" value="<%= course.code %>">
                    <br />
        
                    <label for="image">Link to image</label> <br />
                    <input type="text" name="image" value="<%= course.image %>">
                    <br />
        
                    <label for="description">Description</label> <br />
                    <textarea name="description"><%= course.description %></textarea>
                    <br />

                    <label for="teacher">Teacher</label> <br />
                    <select name='teacher'>
                        <% allTeachers.forEach(t => { %>
                            <option value='<%=t.id%>' <%= t.id == course.teacher.id ? 'selected' : '' %>><%= t.username %></option>
                        <% }) %>
                        
                    </select>
                    <br />
                    <label>Curriculum
                        <label for="goal">Goal
                            <input type="text" 
                            <%if(course.curriculum.goal) { %>
                            value="<%=course.curriculum.goal%>"
                            <% } else {%> value="To get better and more competetive..." <%}%>
                            name="goal" id="goal">
                        </label><br>
                        <label for="goal">Content
                            <input type="text" 
                            <%if(course.curriculum.content) { %>
                            value="<%=course.curriculum.content%>"
                            <% } else {%> value="There will be value" <%}%>
                            name="goal" id="goal">
                        </label><br>

                    </label><br>
		<% allTeachers.forEach(t => { %>
			<input
			 	type="checkbox" 
				name="teachers" 
				value="<%=t.id%>" 
		<% } %>
            <input type="submit" class="btn btn-success" value="Submit">
    </form>
                <form action='/courses/<%= course.id %>?_method=DELETE' method='POST'>
                    <input type='submit' value='DELETE' class='btn btn-danger' />
            </form>
        </div>
    </main>
<% include ../partials/footer %>
