<% include ../partials/header %>
<main id="body" class="container">
    <div class="container-fluid">
       
    <a href='/courses/new' class='btn btn-success adminCourseCreateNew'>Create a new course</a>
    
</div>
    <table id='kursevi' class="display" cellspacing="1" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Image</th>
            <th>Description</th>
            <th>Teacher</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% allCourses.forEach(function(c) { %>
            <tr>
                <td><%= c.name %></td>
                <td><%= c.code %></td>
                <td><img src='<%= c.image %>' width='100px' height='50px' /></td>
                <td><%= c.description.substr(0,50)+'...' %></td>
                <td><%= c.teacher.username %></td>
                <td><form class="form-inline" method="GET" action="/admin/courses/<%= c.id %>/edit"><input type="submit" value="EDIT" class="btn btn-sm btn-success"></form></td>
                <td><form class="form-inline" method="POST" action="/courses/<%= c.id %>?_method=DELETE"><input type="submit" value="DELETE" class="btn btn-sm btn-danger"></form></td>
            </tr>
        <% }) %>
    </tbody>
</table>
</main>
<% include ../partials/footer %>