<% include ../partials/header %>
<main id="body" class='container'>
<table id='useri' class="display" cellspacing="1" width="100%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Image</th>
            <th>Email</th>
            <th>Type</th>
            <th>Username</th>
            <th>Courses</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% allUsers.forEach(function(s) { %>
            <tr>
                <td><%= s.firstName %></td>
                <td><%= s.lastName %></td>
                <td><img src='<%= s.image %>' width='100px' height='50px' /></td>
                <td><%= s.email %></td>
                <td><%= s.type %></td>
                <td><%= s.username %></td>
                <td><%= s.courses.length %></td>
                <td><form class="form-inline" method="GET" action="/admin/users/<%= s.id %>/edit"><input type="submit" value="EDIT" class="btn btn-sm btn-success"></form></td>
                <td><form class="form-inline" method="POST" action="/admin/users/<%= s.id %>?_method=DELETE"><input type="submit" value="DELETE" class="btn btn-sm btn-danger"></form></td>
            </tr>
        <% }) %>
    </tbody>
</table>
</main>
<% include ../partials/footer %>