<% include ../partials/header %>
    <main id="body" class="container">
        <div class="column userEditMain" id="userEdit">

            <section class="row-1 headingSection">
                <h2 class="text-center">Edit
                    <%= user.username %>
                </h2>
            </section>
            <form action='/admin/users/<%= user.id %>?_method=PUT' method='POST'>
                <section class="row-7 row justify-content-around align-items-center">
                    <div>
                        <div class="userEditTypeBtnDiv">
                            <label for="type">Type</label>
                            <select name="type" required="true">
                                <% enumm.forEach(e => { %>
                                    <option value='<%= e %>' <%=e==user.type ? 'selected' : null %>>
                                        <%= e %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>

                        <table class="userEditTable">
                            <tr>
                                <td>
                                    <label for="username">Username</label>
                                </td>
                                <td>
                                    <input name="username" required="true" value='<%= user.username %>' /> </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="firstName">First Name</label>
                                </td>
                                <td>
                                    <input type="text" name="firstName" value="<%= user.firstName %>"> </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="lastName">Last Name</label>
                                </td>
                                <td>
                                    <input type="text" name="lastName" value="<%= user.lastName %>"> </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="email">Email</label>
                                </td>
                                <td>
                                    <input name="email" required="true" value='<%= user.email %>' />
                                </td>
                            </tr>



                        </table>

                    </div>

                    <div class="column">
                        <img class="userEditPic" src='<%= user.image %>' />
                        <div>
                            <label for="image">Image</label>
                            <input type="text" name="image" value="<%= user.image %>">
                        </div>
                    </div>
                </section>
                <br />

                <br />

                <br />

                <br />

                <section class="row-4 text-center">
                    <div class="row justify-content-center">

                        <div class="column">
                            <div>
                                <label for="courses">Current Courses</label>
                            </div>
                            <div>
                                <select class="courseInput" id="list1" name="courses[]" size="5" multiple="multiple">

                                    <% user.courses.forEach(c => { %>

                                        <option value='<%= c.id %>'>
                                            <%= c.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="column align-self-end userEditCourseBtn">
                            <div>
                                <input id="button1" type="button" value="->" />
                            </div>
                            <div>
                                <input id="button2" type="button" value="<-" />
                            </div>

                        </div>

                        <div class="column">
                            <div>
                                <label for="allCourses">All Courses</label>
                            </div>
                            <div>
                                <select class="courseInput" id="list2" name="allCourses" size="5" multiple="multiple">
                                    <% allCourses.forEach(a => { %>

                                        <option value='<%= a.id %>'>
                                            <%= a.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>

                    </div>
                    <script type="text/javascript">
                        function selectAll() {
                            selectBox = document.getElementById("list1");

                            for (var i = 0; i < selectBox.options.length; i++) {
                                selectBox.options[i].selected = true;
                            }
                        }
                    </script>
                    <br />

                    <input class="btn-dark" type="submit" value="Submit" onclick="selectAll()">
                </section>
            </form>
        </div>
    </main>
    <% include ../partials/footer %>