<% include ../partials/header %>
<main id="body" class="container">
        <section class="courses">
            <div class="container">


                <div class="course course-type-html">
                    <div class="course-card">
                        <header class="course-header container-fluid adminCourseTeacher">

                            <h2 class="text-center m-0 py-1 editCourseHeader"> Create new course
                            </h2>

                        </header>
                        <form action='/courses' method='POST'>
                            <div class="editCourseFields container-fluid">
                                    
                                    <div class="form-group row">
                                            <label for="type" class="col-md-2 col-form-label">Teacher</label>
                                            <div class="col-md-10">
                                                <select name="teacher" required="true" class="custom-select">
                                                <% teachers.forEach(t => { %>
                                                    <option><%= t.username %></option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                <div class="form-group row">
                                    <label for="name" class="col-md-2 col-form-label">Name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="name" name="name" value='<%= (query && query.name) ? query.name : "" %>'>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="code" class="col-md-2 col-form-label">Code</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="code" name="code" value='<%= (query && query.code) ? query.code : "" %>'>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="image" class="col-md-2 col-form-label">Link to image</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="image" name="image" value='<%= (query && query.image) ? query.image : "" %>'>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="description" class="col-md-2 col-form-label">Description</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" id="description" name="description" rows="10"><%= (query && query.description) ? query.description : "" %></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="submitButtonsContainer">


                                <input type="submit" value="Create" class="btn btn-success editCourseBtn ">
                       
                       
                            <input type="reset" value="Reset" class="btn btn-info editCourseBtn ">
                        </form>

                        </div>





                    </div>





                </div>




            </div>
        </section>
    </main>
<% include ../partials/footer %>
