<% include ../partials/header %>
<main id="body" class="container">
    <section class="courses">
        <div class="container text-center">
            <h1 class="text-center pb-3"></h1>

            <div class="course course-type-html">
                <div class="course-card">
                    <header class="course-header container-fluid">
                     
                        <h2 class="text-center m-0 py-1 d-none d-sm-none d-md-block"><%= course.name %></h2>
                   
                    </header>

                    <h2 class="text-center m-0 py-1 d-md-none"><%= course.name %></h2>
                    <div class="row course-card-body">
                        <div class="col-lg-6 course-logo">
                            <img src="<%= course.image %>" class="py-3" />
                            <% if(currentUser && (currentUser.id == course.teacher.id || currentUser.type == 'admin')) { %>
                            <div class="studentList">
                                <span>Students on this course:</span>
                                <div class="course-student-list-info" style="min-height: 200px">
                                    <ol>
                                        <% course.students.forEach(s => { %>
                                            <li><a href='/users/<%= s.data.id %>'><%= s.data.username %></a></li>
                                        <% }) %>
                            
                                    </ol>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class="col-lg-6 course-description">
                            <span>Course Info</span>
                            <p class="text-justify paddingParagraph"><%= course.description %></p>
                            <div class="row courseTeacherText">
                                <span>Teacher:</span>
                                <a href='/users/<%= course.teacher.id %>'><p class="marginParagraphCancel"><%= course.teacher.username %></p></a>
                            </div>
                            <div class="row courseTeacherText">
                                <span>Start Date:</span>
                                <p class="marginParagraphCancel">25.11.1999.</p>
                            </div>
                            <div class="row courseTeacherText">
                                    <span>Duration:</span>
                                    <p class="marginParagraphCancel">4 weeks</p>
                                </div>
                            <div class="row courseTeacherText">
                                    <span>Price:</span>
                                    <p class="marginParagraphCancel">1000,00</p>
                                </div>
                        </div>
                    </div>
                    <footer class="single-course-footer">
                        <% if(!currentUser || (currentUser && currentUser.type == 'student' && currentUser.courses.indexOf(course.id) == -1)) { %>
                            <form action='/enroll/<%= course.id %>' method='post'><input type='submit' value='Start Course' /></form>
                        <% } else if(currentUser && currentUser.type == 'student' && currentUser.courses.indexOf(course.id) >= 0) { %>
                            <p class='btn btn-success'>Enrolled</p>
                        <% } else if (currentUser && (currentUser.id == course.teacher.id || currentUser.type == 'admin')) { %>
                            <a href='/courses/<%= course.id %>/edit' class='btn btn-warning'>Edit</a>
                        <% } %>

                    </footer>
                </div>
            </div>


        </div>
    </section>
</main>
<% include ../partials/footer %>